body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Montserrat", "sans-serif";
}

.inner {
  background: rgb(7, 218, 165);
  padding: 2em;
  border-radius: 10px;
  width: 300px;
  color: white;
  clip-path: circle(8% at 90% 15%);
  transition: all 0.5s ease-in-out;
  position: relative;
  cursor: pointer;

  span {
    color: white;
    font-weight: bold;
    transition: opacity 0.5s;
    position: absolute;
    top: 9%;
    right: 5.5%;
    margin-right: 4%;
    font-size: 1.2rem;
    opacity: 1;
  }

  &:hover {
    clip-path: circle(75%);
    background: #00b6ff;

    span {
      opacity: 0;
    }
  }

  h1 {
    margin: 0;
  }

  p {
    font-size: 1.2rem;
  }
}
